.row {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #222831;
  margin: 0;
}

.card-bottom {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 5px;

}


.card img {
  padding-top: 10px;
    height: 210px;
    width: 100%;
    object-fit: contain;
  border-bottom: none;

  }

.card-text {
  margin-bottom: 0px;
}

.card {
  background-color: #31363F;
  color: #EEEEEE;
}

.card-display {
  min-height: 100%;
}
