<div class="row">
<div class="card-display col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let tempGundam of gundams">
  <div class="card shadow-sm">
    <img
      [src]="'assets/images/' + tempGundam.box_art"
      alt="{{ tempGundam.name }}"
      class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{tempGundam.grade}} {{tempGundam.name}}</h4>
      <p class="card-text"><b>Release Year:</b> {{tempGundam.release_year}}</p>
      <p class="card-text"><b>Anime: </b>{{tempGundam.series}} </p>
      <div class="card-bottom">
        <button class="btn btn-light py-1 px-2 lh-1">Edit</button>
        <button (click)="handleDeleteGundam(+tempGundam.id)" class="btn btn-danger py-1 px-1 lh-1">Delete</button>
      </div>

    </div>
  </div>
</div>
  <div *ngIf="gundams?.length == 0" class="alert alert-warning col-md-12" role="alert">
    No Gundam found.
  </div>
</div>

