.search-row {
  display: flex;
  align-content: flex-start;
  gap: 10px;
  padding-bottom: 20px;
}

.form-header {
  padding-left: 35px;
  padding-bottom: 10px;
  background-color: #222831;
}

.input-group{
  height: 10px;
  /*padding-right: 75%;*/

}

.btn-add {
  flex-shrink: 0;
  margin-right: 60%
}
