<div class="search-row">
<div class="form-header input-group">
  <input #userInput
    class="form-control"
         type="text"
  placeholder="Search a Gundam's name"
  (keyup.enter)="runSearch(userInput.value)">

    <button (click)="runSearch(userInput.value)"
    class="btn btn-light"
    >Search</button>

</div>
<div class="buttons"><button routerLink="/addGundam" class="btn btn-light btn-add">
  Add Gundam
</button>


  <button routerLink="/report" class="btn btn-light btn-add">
    HG Gundam Report
  </button></div>

</div>



